In [1]:
from pyspark.sql import SparkSession
from delta.tables import *

In [2]:

spark = SparkSession.builder \
    .appName("DeltaLakeWithMinIO") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .config("spark.hadoop.fs.s3a.endpoint", "http://minio:9000") \
    .config("spark.hadoop.fs.s3a.access.key", "minio") \
    .config("spark.hadoop.fs.s3a.secret.key", "minio123") \
    .config("spark.hadoop.fs.s3a.path.style.access", "true") \
    .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem") \
    .config("spark.executor.cores", "4")  \
    .config("spark.cores.max", "4")   \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/07/18 16:26:27 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:

# مسار Delta في MinIO
delta_path = "s3a://mydelta/test_table"

# أنشئ DataFrame بسيط
df = spark.range(0, 10)
df.write.format("delta").mode("append").save(delta_path)

In [6]:
df2 = spark.read.format("delta").load(delta_path)
df2.show()

+---+
| id|
+---+
|  5|
|  6|
|  7|
|  8|
|  9|
|  0|
|  1|
|  2|
|  3|
|  4|
|  7|
|  8|
|  9|
|  2|
|  3|
|  4|
|  5|
|  6|
|  0|
|  1|
+---+

In [9]:
# تسجيل الجدول يدويًا من مسار MinIO
spark.sql(f"""
    CREATE TABLE IF NOT EXISTS delta.`s3a://mydelta/employees` (
        name STRING,
        age INT
    )
    USING DELTA
""")

DataFrame[]

In [10]:
# إدخال بيانات
spark.sql("""
    INSERT INTO delta.`s3a://mydelta/employees` VALUES
    ('Ahmed', 30),
    ('Sara', 28),
    ('Omar', 35)
""")

DataFrame[]

In [11]:
df = spark.read.format("delta").load("s3a://mydelta/employees")
df.show()

+-----+---+
| name|age|
+-----+---+
|Ahmed| 30|
|Ahmed| 30|
| Omar| 35|
| Omar| 35|
| Sara| 28|
| Sara| 28|
+-----+---+