In [2]:
from pyspark.sql import SparkSession

In [10]:
spark = SparkSession.builder \
    .appName("snowflake-test") \
    .config("spark.jars.packages", 
            "net.snowflake:spark-snowflake_2.12:2.9.0-spark_3.2,net.snowflake:snowflake-jdbc:3.13.31") \
    .getOrCreate()

In [9]:
sfOptions = {
  "sfURL" : "AKGEMQF-VN65042.snowflakecomputing.com",
  "sfUser" : "LOL",
  "sfPassword" : "A123456789a123",
  "sfDatabase" : "DEMO_DB",
  "sfSchema" : "PUBLIC",
  "sfWarehouse" : "COMPUTE_WH",
  "sfRole": "ACCOUNTADMIN"
}

df = spark.read \
    .format("snowflake") \
    .options(**sfOptions) \
    .option("dbtable", "PRODUCTS") \
    .load()

df.show()

+---+----------+------+
| ID|      NAME| PRICE|
+---+----------+------+
|  1|    Laptop|999.99|
|  2|     Phone|499.49|
|  3|Headphones|149.99|
+---+----------+------+

In [13]:
from pyspark.sql import Row

# ➊ نجهز DataFrame في Spark
data = [
    Row(ID=10, NAME="Tablet", PRICE=299.99),
    Row(ID=11, NAME="Monitor", PRICE=199.49),
    Row(ID=12, NAME="Keyboard", PRICE=49.99)
]
new_df = spark.createDataFrame(data)

# ➋ نكتب الجدول في Snowflake (هيكريت الجدول ويكتب فيه)
new_df.write \
    .format("snowflake") \
    .options(**sfOptions) \
    .option("dbtable", "PRODUCTS_NEW") \
    .mode("overwrite") \
    .save()

In [14]:
df_check = spark.read \
    .format("snowflake") \
    .options(**sfOptions) \
    .option("dbtable", "PRODUCTS_NEW") \
    .load()

df_check.show()

+---+--------+------+
| ID|    NAME| PRICE|
+---+--------+------+
| 11| Monitor|199.49|
| 12|Keyboard| 49.99|
| 10|  Tablet|299.99|
+---+--------+------+